{% extends "dashboard/layout.html" %}

{% block title %}
Edit Post
{% endblock %}

{% block main %}


<div class="container">
    <div class="row">
        <div class="col-8">
            <form action="/dashboard/post" method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="title">
                        <h5>Title</h5>
                    </label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Post Title"
                        value="{{ post['title'] }}">
                </div>
                <div class="form-group mb-3">
                    <label for="body">
                        <h5>Content</h5>
                    </label>
                    <textarea class="form-control" name="content" id="body" rows="3"
                        placeholder="Post Content">{{ post['content'] }}</textarea>
                </div>

                <div class="form-group mb-3">
                    <label for="cat"><h5>Category</h5></label>
                    <select class="form-control" id="cat" name="cat">
                        <option disabled value="0">Choose Category</option>
                        {% for cat in cats %}
                        {% if post['cat_id'] == cat['id'] %}
                        <option selected value="{{ cat['id'] }}">{{ cat['title'] }}</option>
                        {% else %}
                        <option value="{{ cat['id'] }}">{{ cat['title'] }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="img">
                        <h5>Change Image</h5>
                    </label>
                    <input type="hidden" name="old_img_url" value="{{ post['thumbnail'] }}">
                    <input type="file" id="img" name="img" accept="image/*">
                    <img class="rounded border" src="../../{{ post['thumbnail'] }}" width="90" height="90">
                </div>

                <div class="form-group">
                    <label for="publish">
                        <h5>Status</h5>
                    </label>
                    <div class="form-check mb-3">
                        {% if post['published'] %}
                        <input checked class="form-check-input" type="checkbox" value="1" id="publish" name="publish">
                        {% else %}
                        <input class="form-check-input" type="checkbox" value="1" id="publish" name="publish">
                        {% endif %}
                        <label class="form-check-label" for="publish"> Publish </label>
                    </div>
                </div>

                <input type="hidden"
                    value="{% if post['post_id'] %}{{ post['post_id'] }}{% else %}{{ post['id'] }}{% endif %}"
                    name="post_id">

                <div class="text-center">
                    <button class="btn btn-primary mb-3" type="submit">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}